
@font-face {
    font-family: sher;
    src: url("./NeueMachina-Bold_WaMOsLX9Z9.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #F5F5DC;
}
.main{
    height: 100%;
    width: 100%;
   
}
.nav{
    margin-top: 2vh;
    margin-left: 1vw;
    height:2rem;
    width:97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
.box{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    font-weight: 100;
    font-family: sher;
}
.navleft{
    height: 100%;
    width: 20%;
    display: flex;
    /* background-color: #924343; */
}
.navright{
    height: 100%;
    width: 20%;
    /* background-color: #924343; */
    
}
h6{
    font-size:2.5vw;
    font-family: sher;
}
h1{
    font-size: 15.5rem;
    position: absolute;
    bottom: 40%;
    right: 6%;
    font-family: sher;
}
.img1{
    position: absolute;
    top: 35%;
    right: 17%;
    z-index: 4;
    height: 300px;
    width: 200px;
    /* border-radius: 1vw; */
    border: 1px solid rgb(217, 206, 206);
}
.img2{
    position: absolute;
    top:65%;
    right: 30%;
    z-index: 3;
    height: 170px;
    width: 170px;
    /* border-radius: 1vw; */
    border: 1px solid rgb(217, 206, 206);
}
.img3{
    position: absolute;
    height: 170px;
    width: 160px;
    top: 50%;
    right: 40%;
    z-index: -1;
    /* border-radius: 1vw; */
    border: 1px solid rgb(217, 206, 206);
}
.leftbottom{
    /* border: 2px solid black; */
    width: fit-content;
    position: absolute;
    bottom: 10%;
    left:2%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    

}
.leftbottom h5{
    font-size: medium;
    font-family: sher;
}
footer{
    position: absolute;
    bottom: 2%;
    display: flex;
    justify-content: space-between;
    width: 96vw;
    align-items: center;
    /* border: 2px solid orange; */
    left:2%;
}
p{
    font-size: 1vw;
}
footer h4{
    font-size:2vw;
    font-family: sher;
}
footer a{
    /* text-decoration: none; */
    color: black;
    font-size: 1.3vw;
    font-weight: 100;
    font-family: sher;
}